

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Formulario del donador</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input type="text" #nombre></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-input type="text" #descripcion></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Costo</ion-label>
      <ion-input type="number" #costo></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="guardar(nombre, descripcion, costo)">Guardar</ion-button>