<div class="container">
  <div class="container-forms">
    <form>
      <ion-item>
        <ion-input label="Nombre" labelPlacement="floating" type="text" #nombre></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea label="Descripción" labelPlacement="floating" type="textarea"  #descripcion></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-input label="Costo" labelPlacement="floating" type="number" #costo></ion-input>
      </ion-item>
    </form>
  </div>
  <div class="container-photo">
    <video id="video" controls [hidden]="tomarFoto"></video>
    <ion-button id="btn_tf" (click)="showFoto()"> Tomar Foto</ion-button>
  </div>
  <ion-button id="btn_enviar" (click)="guardar(nombre, descripcion, costo)">Guardar</ion-button>
</div>