<div class="container">
    <div class="container_buscador">
        <ion-searchbar class="buscador" #buscado></ion-searchbar>
        <ion-button class="btn_buscador" (click)="buscador(buscado.value)">
            <ion-img class="icono_buscador" src="../../assets/icon_search.png"></ion-img>  
        </ion-button>
    </div>
    
    
    <ion-list class="product-list" lines="none">
        <ion-item *ngFor="let dato of copyDatos"> 
            <ion-card>
                <a href="/products/{{dato.idEquipoMedico}}" class="estilos-a">
                    <ion-card-content>
                        <img src="{{dato.imagenes[0][0]}}" alt="">
                        <ion-title class="product-name">{{dato.nombre}}</ion-title>
                        <span class="product-description">{{dato.descripcion}}</span>
                        <ion-label class="product-cost">${{dato.costo}}</ion-label>
                    </ion-card-content>
                </a>
            </ion-card>
        </ion-item>
    </ion-list>

</div>