<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido </ion-title>
    <ion-list>
      <li><button >Cerrar Sesion</button></li>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="container-buttons">
      <button (click)="changeSelected('listado')">
        <ion-img src="../../assets/icon_equipom.png"></ion-img>
        <span class="text">Equipo médico</span>
      </button>
      <button (click)="changeSelected('formularios')">
        <ion-img src="../../assets/icon_listae.png"></ion-img>
        <span class="text">Lista de espera</span>
      </button>
      <button (click)="changeSelected('carrito')"> 
        <ion-img src="../../assets/icon_carrito.png"></ion-img>
        <span class="carrito">Carrito</span>
      </button>
    </div>
  </div>
  <ion-content>
    <ion-item *ngIf="show === 'listado' ">
      <app-listado-donador></app-listado-donador>
    </ion-item>
  </ion-content>
  <ion-content>
    <ion-item *ngIf="show === 'formularios' ">
      <app-formulario-donador></app-formulario-donador>
    </ion-item>
  </ion-content>
  <ion-content>
    <ion-item *ngIf="show === 'carrito' ">
      <app-carrito></app-carrito>
    </ion-item>
  </ion-content>
</ion-content>
