<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-logo">
      <ion-img src="../../assets/logo_transparent.png" class="logo"></ion-img>
    </ion-buttons>
    <ion-buttons slot="end">   
      <div class="header-content">
        <ion-img src="../../assets/icon_user_64.png" class="user-icon"></ion-img>
        <div class="user-name">{{nombre}}</div>
      </div>
    </ion-buttons>
    <ion-buttons slot="end" class="ion-back">
      <ion-button class="custom-button" (click)="logOut()">
        <ion-img class="icono_back" src="../../assets/icon_logout_32.png"></ion-img>
      </ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content class="container-general">
  <div class="container">
    <div class="container-buttons">
      <button (click)="changeSelected('listado')">
        <ion-img src="../../assets/icon_equipom.png"></ion-img>
        <span class="text">Equipo médico</span>
      </button>
      <button (click)="changeSelected('carrito')"> 
        <ion-img src="../../assets/icon_carrito.png"></ion-img>
        <span class="carrito">Carrito</span>
      </button>
    </div>
  </div>
  <div class="container-listado">
    <ion-item *ngIf="show === 'listado' " lines="none">
      <app-listado-donador></app-listado-donador>
    </ion-item>
  </div>
  <div>
    <ion-item *ngIf="show === 'formularios' " lines="none">
      <app-formulario-donador></app-formulario-donador>
    </ion-item>
  </div>
  <div class="container-carrito">
    <ion-item *ngIf="show === 'carrito' " lines="none">
      <app-carrito></app-carrito>
    </ion-item>
  </div>
</ion-content>
