<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido </ion-title>
    <ion-list>
      <li><button >Cerrar Sesion</button></li>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <nav>
    <ul>
      <li><button >Listado de Equipo Medico</button></li>
      <li><button  >Agregar Equipo Medico</button></li>
    </ul>
  </nav>
  <ion-content>
    <ion-item *ngIf="show === 'listado' ">
      <app-listado-donador></app-listado-donador>
    </ion-item>
  </ion-content>
  <ion-content>
    <ion-item *ngIf="show === 'formularios' ">
      <app-formulario-donador></app-formulario-donador>
    </ion-item>
  </ion-content>
</ion-content>
