/* ----------------------- Escritorio ----------------------- */
@media (min-width: 991px) {  
    
    ion-card {
        width: 320px; 
        height: 350px;
        margin: 10px;
        border: 5px solid #90E0EF;
        transition: transform 0.3s ease;
    }

    ion-card:hover {
        transform: translateY(-5px); /* Eleva el ion-card cuando el cursor está sobre él */
    }

    ion-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Ajusta según tu preferencia, center o space-around, etc. */
    }

    ion-item {
        width: auto; /* Ajusta el ancho del elemento según el contenido */
    }

    .container-btn {
        height: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #f0f0f0;
    }

    .btn_seleccion {
        flex: 1; /* Hace que los botones ocupen el espacio disponible de manera igual */
        padding: 10px;
        background-color: #4361EE;
        color: #fff;
        border: none;
        cursor: pointer;
        
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .filter-buttons {
        display: flex;
        width: 1504px;
    }

    .btn_seleccion:hover {
        background-color: #3345CB; /* Cambia el color al pasar el ratón sobre el botón */
    }

    /* Estilos para la información dentro de ion-card-content */
    .product-name,
    .product-description,
    .product-cost {
        margin: 5px 0;
    }

    ion-card-content p {
        text-decoration: none;
    }

    .product-name {
        font-size: 22px;
        font-weight: bold;
        color: #111d13;
        height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal; 
    }

    .product-description {
        width: 295px;
        height: 70px;
        max-height: 90px;
        margin-top: 5px;
        font-size: 14px;
        overflow: hidden;
        color: #111d13;
    }

    .product-cost {
        font-size: 16px;
        font-weight: bold;
        color: #111d13;
    }

    .estilos-a{
        text-decoration: none;
    }

}

/* ----------------------- Celular ----------------------- */

@media (max-width: 767px) {
    .desktop {
        display: none;
    }
    .container-btn {
        height: 30px;
        display: flex;
        justify-content: space-around;
        background-color: #f0f0f0;
    }

    .container-btn {
        height: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #f0f0f0;
    }

    .filter-buttons {
        width: 100%;
        display: flex;
    }

    .btn_seleccion {
        flex: 1; 
        padding: 10px;
        background-color: #4361EE;
        color: #fff;
        border: none;
    }

    .product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    ion-item {
        width: auto; 
    }

    ion-card {
        height: 360px;
        margin: 10px;
        border: 5px solid #90E0EF;
    }

    ion-card-content {   
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .product-name {
        width: auto;
        font-size: 18px;
        font-weight: bold;
        color: #111d13;
        margin-top: 5px;
    }
    
    .product-description {
        font-size: 14px;
        color: #111d13;
        width: auto;
        height: auto;
    }
    
    .product-cost {
        font-size: 16px;
        font-weight: bold;
        color: #111d13;
        margin-top: 5px;
    }

    .estilos-a{
        text-decoration: none;
    }

}