<div class="container">
    <nav *ngIf="copyDatos && datos" class="container-btn">
        <div class="filter-buttons">
            <button *ngFor="let estado of estados" (click)="filtrado(estado.name)" class="btn_seleccion">{{estado.name}}</button>
        </div>
    </nav>

    <ion-list class="product-list" *ngIf="copyDatos && datos" lines="none">
        <ion-item *ngFor="let dato of copyDatos">
            <ion-card>
                <a href="/products/{{dato.idEquipoMedico}}" class="estilos-a">
                    <ion-card-content>
                        
                        <img *ngIf="dato.imagenes.length > 0 "src="{{dato.imagenes[0][0]}}" alt="{{dato.nombre}}">
                        <img *ngIf="dato.imagenes.length == 0 "[src]="imageURL"  alt="{{dato.nombre}}">
                        <ion-title class="product-name">{{dato.nombre}}</ion-title>
                        <span class="product-description"><h2> {{dato.descripcion}} </h2></span>
                        <ion-label class="product-cost"><h1> ${{dato.costo}} </h1></ion-label>
                    </ion-card-content>
                </a>
            </ion-card>
        </ion-item>
    </ion-list>
</div>
