<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-logo">
      <ion-img src="../../assets/logo_transparent.png" class="logo"></ion-img>
    </ion-buttons>
    <ion-buttons slot="end">   
      <div class="header-content">
        <ion-img src="../../assets/icon_user_64.png" class="user-icon"></ion-img>
        <div class="user-name">Usuario</div>
      </div>
    </ion-buttons>
    <ion-buttons slot="end" class="ion-back">
      <ion-button class="custom-button" (click)="out()">
        <ion-img class="icono_back" src="../../assets/icon_logout_32.png"></ion-img>
      </ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="container-buttons">

      <button (click)="changeView('solicitud')">
        <ion-img src="../../assets/icon_equipom.png"></ion-img>
        <span class="text"> Solicitud de equipo médico</span>
      </button>
      <button (click)="changeView('listado')"> 
        <ion-img src="../../assets/icon_carrito.png"></ion-img>
        <span class="carrito">Equipo médico donado</span>
      </button>

    </div>
  </div>

  <div class="container-solicitud">
    <ion-item lines="none">
      <app-formulario-solicitud *ngIf="page === 'solicitud'"></app-formulario-solicitud>
    </ion-item>
  </div>
  <div class="container-listado">
    <ion-item lines="none">
      <app-listado-solicitante *ngIf="page === 'listado'"></app-listado-solicitante>
    </ion-item>
  </div>
</ion-content>