<div class="container-general">  

  <div class="container_buscador">
    <ion-searchbar class="buscador" show-clear-button="always" #buscador></ion-searchbar>
    <ion-buttons>
        <ion-button class="btn_buscador" (click)="buscar(buscador.value)">
            <ion-img class="icono_buscador" src="../../assets/icon_search.png"></ion-img>
        </ion-button>
    </ion-buttons> 

    <ion-buttons>
        <ion-button class="btn_micro" (click)="audioSearch()">
            <ion-img class="icono_micro" src="../../assets/icon_microfono.png"></ion-img>
        </ion-button>
    </ion-buttons> 

    <ion-buttons>
      <ion-button class="btn_mapa" (click)="changeView(buscador.value)">
          <ion-img class="icono_mapa" src="../../assets/icon_mapa.png"></ion-img>
      </ion-button>
    </ion-buttons> 

    <ion-buttons>
      <ion-button class="btn_cancelar" (click)="cancelar(buscador)">
          <ion-img class="icono_cancelar" src="../../assets/icon_cancelar.png"></ion-img>
      </ion-button>
    </ion-buttons> 
  </div>
  
  <div class="container-productos">
    <ion-list class="product-list" *ngIf="!showMap" lines="none">
      <ion-item *ngFor="let dato of copyDatos">
        <ion-card>
          <ion-card-content>
            <img src="{{dato.imagenes[0][0]}}" alt="">
            <ion-title class="product-name">{{dato.nombre}}</ion-title>
            <span class="product-description"><h2> {{dato.descripcion}} </h2></span>
            <ion-buttons class="btn-solicitar">
              <ion-button (click)="solicitar([dato.idEquipoMedico,dato.idVendedor])" class="solicitar">SOLICITAR</ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>
  <div id="map" *ngIf="showMap"></div> 
</div>