<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="HomeReturn()"><ion-icon></ion-icon> Regresar</ion-button>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <p>Correo Electronico </p><ion-input type="email" #email></ion-input>
  </ion-item>
  <ion-item>
    
    <p>Password </p><ion-input type="password" #contra></ion-input>
  </ion-item>
  <ion-button (click)="loginUser(email,contra)">Iniciar Sesión</ion-button>

  <p class="ion-text-center">¿No tienes una cuenta? <a (click)="cambiopagina()">Regístrate aquí</a></p>
</ion-content>
