<ion-content [fullscreen]="true">
  <div class="container">
    <ion-title>Login</ion-title>
    <form>
      <div class="form__group form__div">
        <span><i class="fa-solid fa-envelope"></i></span>
        <ion-input class="campo" placeholder="Dirección de correo electrónico" type="email" #email></ion-input>
      </div>
      <div class="form__group form__div">
        <span><i class="fa-solid fa-lock"></i></span>
        <ion-input class="campo" placeholder="Contraseña" type="password" #contra></ion-input>
      </div>
      <div class="form__group">
        <ion-button (click)="loginUser(email,contra)">Acceder</ion-button>
      </div>
      <div class="form__group__enlace">
        <p class="enlace_1">¿No tienes una cuenta? <a class="enlace" (click)="cambiopagina()">Regístrate aquí</a></p>
        <a class="enlace" id="btn_salir" (click)="HomeReturn()">Regresar</a>
      </div>
    </form>
  </div>
</ion-content>
