/**Escritorio**/

@media (min-width: 991px) {
  .movil {
    display: none;
  }
  ion-content {
    --background: url('../../assets/Reconocimiento-facial.jpg') no-repeat center center fixed;
    --background-size: cover;
  }
  
  .main-container {
    color: white;
    height: 280px;
    width: 200px;
    
    background-color: #cccccc;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 1200'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='100%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23cccccc'/%3E%3Cstop offset='0.02' stop-color='%23cccccc'/%3E%3Cstop offset='0.02' stop-color='%23757575'/%3E%3Cstop offset='0.032' stop-color='%23cccccc'/%3E%3Cstop offset='0.032' stop-color='%239a9a9a'/%3E%3Cstop offset='0.056' stop-color='%23cccccc'/%3E%3Cstop offset='0.056' stop-color='%23cacaca'/%3E%3Cstop offset='0.07' stop-color='%23cccccc'/%3E%3Cstop offset='0.07' stop-color='%23d8d8d8'/%3E%3Cstop offset='0.1' stop-color='%23cccccc'/%3E%3Cstop offset='0.1' stop-color='%23dedede'/%3E%3Cstop offset='0.126' stop-color='%23cccccc'/%3E%3Cstop offset='0.126' stop-color='%23929292'/%3E%3Cstop offset='0.142' stop-color='%23cccccc'/%3E%3Cstop offset='0.142' stop-color='%23a2a2a2'/%3E%3Cstop offset='0.159' stop-color='%23cccccc'/%3E%3Cstop offset='0.159' stop-color='%23cdcdcd'/%3E%3Cstop offset='0.17' stop-color='%23cccccc'/%3E%3Cstop offset='0.17' stop-color='%23a4a4a4'/%3E%3Cstop offset='0.197' stop-color='%23cccccc'/%3E%3Cstop offset='0.197' stop-color='%23adadad'/%3E%3Cstop offset='0.218' stop-color='%23cccccc'/%3E%3Cstop offset='0.218' stop-color='%23cfcfcf'/%3E%3Cstop offset='0.239' stop-color='%23cccccc'/%3E%3Cstop offset='0.239' stop-color='%23d4d4d4'/%3E%3Cstop offset='0.254' stop-color='%23cccccc'/%3E%3Cstop offset='0.254' stop-color='%23c7c7c7'/%3E%3Cstop offset='0.283' stop-color='%23cccccc'/%3E%3Cstop offset='0.283' stop-color='%235f5f5f'/%3E%3Cstop offset='0.294' stop-color='%23cccccc'/%3E%3Cstop offset='0.294' stop-color='%23d1d1d1'/%3E%3Cstop offset='0.305' stop-color='%23cccccc'/%3E%3Cstop offset='0.305' stop-color='%23c3c3c3'/%3E%3Cstop offset='0.332' stop-color='%23cccccc'/%3E%3Cstop offset='0.332' stop-color='%239d9d9d'/%3E%3Cstop offset='0.346' stop-color='%23cccccc'/%3E%3Cstop offset='0.346' stop-color='%23e4e4e4'/%3E%3Cstop offset='0.362' stop-color='%23cccccc'/%3E%3Cstop offset='0.362' stop-color='%236f6f6f'/%3E%3Cstop offset='0.381' stop-color='%23cccccc'/%3E%3Cstop offset='0.381' stop-color='%23979797'/%3E%3Cstop offset='0.415' stop-color='%23cccccc'/%3E%3Cstop offset='0.415' stop-color='%23767676'/%3E%3Cstop offset='0.428' stop-color='%23cccccc'/%3E%3Cstop offset='0.428' stop-color='%23e0e0e0'/%3E%3Cstop offset='0.442' stop-color='%23cccccc'/%3E%3Cstop offset='0.442' stop-color='%23bebebe'/%3E%3Cstop offset='0.456' stop-color='%23cccccc'/%3E%3Cstop offset='0.456' stop-color='%23c0c0c0'/%3E%3Cstop offset='0.498' stop-color='%23cccccc'/%3E%3Cstop offset='0.498' stop-color='%23c8c8c8'/%3E%3Cstop offset='0.511' stop-color='%23cccccc'/%3E%3Cstop offset='0.511' stop-color='%23c7c7c7'/%3E%3Cstop offset='0.532' stop-color='%23cccccc'/%3E%3Cstop offset='0.532' stop-color='%23aeaeae'/%3E%3Cstop offset='0.541' stop-color='%23cccccc'/%3E%3Cstop offset='0.541' stop-color='%23c7c7c7'/%3E%3Cstop offset='0.56' stop-color='%23cccccc'/%3E%3Cstop offset='0.56' stop-color='%23747474'/%3E%3Cstop offset='0.581' stop-color='%23cccccc'/%3E%3Cstop offset='0.581' stop-color='%23b5b5b5'/%3E%3Cstop offset='0.6' stop-color='%23cccccc'/%3E%3Cstop offset='0.6' stop-color='%23cecece'/%3E%3Cstop offset='0.618' stop-color='%23cccccc'/%3E%3Cstop offset='0.618' stop-color='%23c8c8c8'/%3E%3Cstop offset='0.656' stop-color='%23cccccc'/%3E%3Cstop offset='0.656' stop-color='%23a2a2a2'/%3E%3Cstop offset='0.679' stop-color='%23cccccc'/%3E%3Cstop offset='0.679' stop-color='%23bbbbbb'/%3E%3Cstop offset='0.689' stop-color='%23cccccc'/%3E%3Cstop offset='0.689' stop-color='%23bfbfbf'/%3E%3Cstop offset='0.720' stop-color='%23cccccc'/%3E%3Cstop offset='0.720' stop-color='%23c0c0c0'/%3E%3Cstop offset='0.734' stop-color='%23cccccc'/%3E%3Cstop offset='0.734' stop-color='%23c6c6c6'/%3E%3Cstop offset='0.748' stop-color='%23cccccc'/%3E%3Cstop offset='0.748' stop-color='%23cbcbcb'/%3E%3Cstop offset='0.764' stop-color='%23cccccc'/%3E%3Cstop offset='0.764' stop-color='%23c5c5c5'/%3E%3Cstop offset='0.788' stop-color='%23cccccc'/%3E%3Cstop offset='0.788' stop-color='%23d0d0d0'/%3E%3Cstop offset='0.808' stop-color='%23cccccc'/%3E%3Cstop offset='0.808' stop-color='%23c3c3c3'/%3E%3Cstop offset='0.831' stop-color='%23cccccc'/%3E%3Cstop offset='0.831' stop-color='%23a6a6a6'/%3E%3Cstop offset='0.856' stop-color='%23cccccc'/%3E%3Cstop offset='0.856' stop-color='%23d3d3d3'/%3E%3Cstop offset='0.872' stop-color='%23cccccc'/%3E%3Cstop offset='0.872' stop-color='%23c0c0c0'/%3E%3Cstop offset='0.894' stop-color='%23cccccc'/%3E%3Cstop offset='0.894' stop-color='%23818181'/%3E%3Cstop offset='0.914' stop-color='%23cccccc'/%3E%3Cstop offset='0.914' stop-color='%23c6c6c6'/%3E%3Cstop offset='0.942' stop-color='%23cccccc'/%3E%3Cstop offset='0.942' stop-color='%23adadad'/%3E%3Cstop offset='0.957' stop-color='%23cccccc'/%3E%3Cstop offset='0.957' stop-color='%23c5c5c5'/%3E%3Cstop offset='0.973' stop-color='%23cccccc'/%3E%3Cstop offset='0.973' stop-color='%23bdbdbd'/%3E%3Cstop offset='1' stop-color='%23cccccc'/%3E%3Cstop offset='1' stop-color='%23cccccc'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' x='0' y='0' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    padding: 30px;
    text-align: center;
    margin-bottom: 1rem;
    box-shadow: 0 0 5px 5px #464649;
  
    display: flex;
    flex-direction: column;
  
    margin: auto;
    justify-content: center;
    align-items: center;
    position: absolute;
  
    top: 200px;
    left: 430px;
    
  }
  
  ion-button {
    margin: 10px;
    height: 50px;
    width: 150px;
    border-radius: 10px;
  }
  
  .oval-img {
    height: 500px;
    width: 500px;
    top: 50px;
    left: 780px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 100%; /* Esto creará la forma ovalada */
  }
  
  /* Boton para iniciar y registrar */
  
  #bn1,
  #bn2 {
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin: 20px 10px;
    text-align: center;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #bn1:hover,
  #bn2:hover {
    background-color: #45a049;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  }
  
  #bn3 {
    display: block;
    width: 75px;
    height: 20px;
    line-height: 25px;
    margin: 20px 10px;
    text-align: center;
    color: #fff;
    background-color: #008CBA;
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #bn3:hover {
    background-color: #00688B;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  }
}
/**Movil**/

@media (max-width: 767px) {
  .desktop {
    display: none;
  }
  ion-content {
    --background: url('../../assets/Reconocimiento-facial_cel.jpg') no-repeat center/cover;
    --background-size: cover;
  }
   
  .video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh; 
    margin-top: 140px;
  }
  .oval-img {
    height: 360px;
    width: 360px;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
  }

  .main-container{
    display: flex;
    height: 200px;
    width: 200px;
    margin: 50px auto;
  
    flex-direction: column; 
    align-items: center;
    justify-content: center;
  }

  .button-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }

  ion-button{
    font-size: 14px;
    transition: background-color 0.3s, box-shadow 0.3s;
  }

  .btn_regresar{
    margin-top: 25px;
    font-size: 12px;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
    
  #bn1,
  #bn2,
  #bn3 {
    display: block;
    width: 125px;
    height: 25px;
    line-height: 50px;
    margin: 10px;
    text-align: center;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  #bn1:hover,
  #bn2:hover,
  #bn3:hover,
  .btn_regresar:hover {
    background-color: #45a049;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  }
}