<ion-content [fullscreen]="true">

  <div class="video-container">
    <video id="camara-preview" class="oval-img"></video>
  </div>
  
  <div class="main-container">
    <div class="button-container">    
      <ion-button (click)="navigateToLogin()" class="custom-button" id="bn1">
        INGRESAR
      </ion-button>
      <ion-button (click)="navigateToRegisterUser()" class="custom-button" id="bn2">
        REGISTRARSE
      </ion-button>
    </div>
    <ion-button (click)="HomeReturn()" class="btn_regresar">
      Regresar
    </ion-button>
  </div>
  
</ion-content>
