/* ----------------------- Escritorio ----------------------- */

@media (min-width: 991px) {
    .movil {
        display: none;
    }
    ion-content{
        --background:  #E8E8E8;
    }
    
    ion-header {
        height: 90px;
    }
    
    ion-toolbar{
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        --background:   #5DADE2;
    }

    .header-content{
        width: 60px;
        height: 73px;
        margin-right: 20px;
        align-items: center;
        text-align: center;
    }
    
    .header_img {
        height: 165px;  
    }
            
    .user-icon {
        width: 52px; 
        height: 52px; 
    }
    
    .icono_back{
        width: 30px;
        height: 30px;
        margin-right: 3px;
    }
    
    .user-name {
        font-size: 18px;
    }
    
    .logo{
        width: 220px; 
        height: 160px;
        margin: 0;
        margin-top: 7px;
    }
    
    ion-searchbar{
        --background: #ffffff;
        color: black;
    }
    
    .searchbar{
        width: 700px;
        height: 50px;
        margin-left: 120px;
    }
    
    .icon_micro{
        width: 30px;
        height: 30px;
    }
    
    .btn_micro{
        margin-right: 320px;
    }
    
    // Body
    
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100px; 
    }
      
    .container-buttons {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
      
    button {
        width: 150px;
        height: 70px;
        display: flex;
        align-items: center;
        padding: 10px;
        margin: 10px;
        border-radius: 15px;
        background: #2ecc71;
        color: #ffffff;
        border: none;
        cursor: pointer;
        transition: background 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transform: scale(1);
        transition: transform 0.3s ease;
    
        &:hover {
            background: #27ae60; 
            transform: scale(1.05);
        }
    }
      
    .text {
        margin-left: 7px;
    }
    
    // Resultado de presionar boton agregar
    
    .container-formulario {
        width: 430px;
        height: 527px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto; /* Centra horizontalmente utilizando margen automático */
        box-sizing: border-box;   
        padding: 0;
        margin-top: 25px;
        
    }
    
    // Resultado de presionar boton listar
    
    .container-listado {
        position: absolute;
        width: 100%;
        height: 100%;  
        margin-top: 25px;   
    }
}
@media (max-width: 767px) {
    .desktop {
        display: none;
    }
    ion-content{
        --background:  #E8E8E8;
    }
    ion-header {
        height: 90px;
    }
    
    ion-toolbar{
        height: 90px;
        width: 100%;
        --background:   #5DADE2;
        
        
        
    }

    .btn_micro{
        display: none;
    }

    // -------------------------------------

    ion-toolbar {
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
      
    .ion-logo{ // Contenedor ion-button del logo
        width: 120px;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .header-content { // Contenedor del icono de usuario
        width: 44px;
        height: 62px;
        align-items: center;
    }
    .user-name { // Nombre del usuario
        font-size: 12px;
        text-align: center;
    }
      
    .ion-back { // Contenedor del icono back
        width: 40px;
        height: 40px;
        justify-content: flex-end;
        margin-top: 8px;
    }   
    .custom-button { // Icono back
        width: 35px;
        height: 35px;
    }

    ion-searchbar{
        --background: #ffffff;
        color: black;
        --min-width: 40px;
        --width: 50px;
        --height: 20px;
        --font-size: 12px;
    }

    // Body

    .container { // Contenedor del body
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 65px; 
    }
      
    .container-buttons { // Contenedor de los botones
        display: flex;
        align-items: center;
    }
      
    button {
        width: 100px;
        height: 50px;
        display: flex;
        align-items: center;
        margin: 8px;
        border-radius: 5px;
        background: #2ecc71;
    }
    button:hover {
        background: #27ae60; 
        transform: scale(1.05);
    } 

    span{
        font-size: 7px;
    }
    
    .icono {
        width: 45px;
        height: 45px;
        padding-right: 2px;
    }
    .button-icon{
        padding-left: 8px;
    }

    // Resultado de presionar boton agregar
    
    .container-formulario {
        max-width: 400px;
        min-width: 300px;
        height: 527px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto; /* Centra horizontalmente utilizando margen automático */
        box-sizing: border-box;   
        padding: 0;
        margin-top: 5px;
        
    }

    // Resultado de presionar boton listar
    
    .container-listado {
        position: absolute;
        width: 100%;
        height: 100%;  
        margin-top: 5px;   
    }
}