<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-logo">
      <ion-img src="../../assets/logo_transparent.png" class="logo"></ion-img>
    </ion-buttons>
    <ion-searchbar class="searchbar" placeholder="Buscar"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button class="btn_micro">
        <ion-img class="icon_micro" src="../../assets/icon_microfono.png"></ion-img>
      </ion-button>     
      <div class="header-content">
        <ion-img src="../../assets/icon_user_64.png" class="user-icon"></ion-img>
        <div class="user-name">{{nombre}}</div>
      </div>
    </ion-buttons>
    <ion-buttons slot="end" class="ion-back">
      <ion-button class="custom-button" (click)="logOut()">
        <ion-img class="icono_back" src="../../assets/icon_logout_32.png"></ion-img>
      </ion-button>
    </ion-buttons> 

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="container-buttons">
      <button (click)="changeFromListado()" class="button-icon">
        <ion-img src="../../assets/icono_agregar.png" class="icono"></ion-img>
        <span class="text">AGREGAR</span>
      </button>
      <button (click)="changeFromFormulario()" class="button-icon">
        <ion-img src="../../assets/icon_lista.png" class="icono"></ion-img>
        <span>LISTAR</span>
      </button>
    </div>
  </div>
  <div class="container-listado listado">
    <ion-item *ngIf="show === 'listado' ">
      <app-listado-vendedor></app-listado-vendedor>
    </ion-item>
  </div>
  <div class="container-formulario formulario">
    <ion-item *ngIf="show === 'formulario' ">
      <app-formulario-vendedor ></app-formulario-vendedor>
    </ion-item>
  </div>
</ion-content>