ion-card {
    width: 320px; 
    height: 290px;
    margin: 10px;
    border: 5px solid #90E0EF;
    transition: transform 0.3s ease;
}

ion-card:hover {
    transform: translateY(-5px); /* Eleva el ion-card cuando el cursor está sobre él */
}

ion-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Ajusta según tu preferencia, center o space-around, etc. */
}

ion-item {
    width: auto; /* Ajusta el ancho del elemento según el contenido */
}

.product-name,
.product-description {
    margin: 5px 0;
}

.product-name {
    font-size: 22px;
    font-weight: bold;
    color: #111d13;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; 
}

.product-description {
    width: 295px;
    height: 70px;
    max-height: 90px;
    margin-top: 5px;
    font-size: 14px;
    overflow: hidden;
    color: #111d13;
}

.product-cost {
    font-size: 16px;
    font-weight: bold;
    color: #111d13;
}

.estilos-a{
    text-decoration: none;
}